<!DOCTYPE html>
<html>
  <head>
    <title>FullstackProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <%= favicon_link_tag asset_path('game_cafe.png') %>
  </head>

  <script type="text/javascript">
    window.gamecafeURL = "<%= image_url('game_cafe.png') %>";
    window.backgroundURL = "<%= image_url('background.jpg') %>";
    
  </script>
  
  <body>
    <%= yield %>
  </body>
</html>
